@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,600;1,100;1,200;1,300;1,400&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;

  --primary-color: #2c3e50;
  --secondary-color: #F0F7EE;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.btn {
  @apply bg-green-500 text-white rounded-sm px-2 py-1 cursor-pointer hover:bg-green-600; 
}

.css-houc2y-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  height: 40px;
}